<div class="main">

  <div>
    <app-login *ngIf=(!hideLogin) (loginEvent)="login($event)"></app-login>
    <span *ngIf=(!hideLogin) (click)="ativaCadastrar()">Cadastre-se</span>

    <span *ngIf=(!hideCadastro) (click)="ativaLogin()">Voltar -> </span>

    <app-cadastro *ngIf=(!hideCadastro) (cadastroEvent)="adicionarUsuario($event)"></app-cadastro>

    <span *ngIf=(!hideToken) (click)="ativaLogin()"> Voltar -></span>

    <app-token *ngIf=(!hideToken) (tokenEvent)="token($event)"></app-token>

    <span *ngIf=(!hideLogado) (click)="ativaLogin()"> X Sair</span>
    <app-logado *ngIf=(!hideLogado) ></app-logado>
  </div>


</div>




